In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Atuona,-9.8000,-139.0333,77.81,72,32,19.30,PF,2022-06-28 23:02:36
1,1,Rovaniemi,66.5000,25.7167,65.61,55,0,8.05,FI,2022-06-28 23:01:53
2,2,Hobart,-42.8794,147.3294,50.25,81,75,9.22,AU,2022-06-28 23:05:22
3,3,Kuandian,40.7286,124.7847,69.22,98,100,1.79,CN,2022-06-28 23:05:22
4,4,Bembereke,10.2283,2.6634,74.61,84,7,5.97,BJ,2022-06-28 23:05:23

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
#heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
#heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [8]:
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df [["Lat", "Lng"]]
humidity = city_data_df ["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to the plot data
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of cloudiness
locations = city_data_df [["Lat", "Lng"]]
clouds = city_data_df ["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to the plot data
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of wind speed
locations = city_data_df [["Lat", "Lng"]]
wind = city_data_df ["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to the plot data
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [13]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Atuona,-9.8000,-139.0333,77.81,72,32,19.30,PF,2022-06-28 23:02:36
5,5,Pendleton,45.6721,-118.7886,86.79,24,4,4.00,US,2022-06-28 23:01:38
6,6,Albany,42.6001,-73.9662,76.46,49,19,4.21,US,2022-06-28 23:05:24
16,16,Ca Mau,9.1769,105.1500,78.76,90,100,4.41,VN,2022-06-28 23:05:27
19,19,Norman Wells,65.2820,-126.8329,81.39,27,100,9.46,CA,2022-06-28 23:05:29
21,21,Butaritari,3.0707,172.7902,82.38,78,100,16.55,KI,2022-06-28 23:05:30
22,22,Vaini,-21.2000,-175.2000,77.16,94,75,4.61,TO,2022-06-28 23:05:30
25,25,Vaitape,-16.5167,-151.7500,79.81,75,16,19.95,PF,2022-06-28 23:05:32
27,27,Avarua,-21.2078,-159.7750,84.25,61,7,3.44,CK,2022-06-28 23:05:33
37,37,Batesville,35.7698,-91.6410,85.08,35,0,8.05,US,2022-06-28 23:04:58

In [14]:
preferred_cities_df.count()

City_ID       193
City          193
Lat           193
Lng           193
Max Temp      193
Humidity      193
Cloudiness    193
Wind Speed    193
Country       193
Date          193
dtype: int64

In [15]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
0         Atuona      PF     77.81  -9.8000 -139.0333
5      Pendleton      US     86.79  45.6721 -118.7886
6         Albany      US     76.46  42.6001  -73.9662
16        Ca Mau      VN     78.76   9.1769  105.1500
19  Norman Wells      CA     81.39  65.2820 -126.8329
21    Butaritari      KI     82.38   3.0707  172.7902
22         Vaini      TO     77.16 -21.2000 -175.2000
25       Vaitape      PF     79.81 -16.5167 -151.7500
27        Avarua      CK     84.25 -21.2078 -159.7750
37    Batesville      US     85.08  35.7698  -91.6410

In [16]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
0         Atuona      PF     77.81  -9.8000 -139.0333
5      Pendleton      US     86.79  45.6721 -118.7886
6         Albany      US     76.46  42.6001  -73.9662
16        Ca Mau      VN     78.76   9.1769  105.1500
19  Norman Wells      CA     81.39  65.2820 -126.8329
21    Butaritari      KI     82.38   3.0707  172.7902
22         Vaini      TO     77.16 -21.2000 -175.2000
25       Vaitape      PF     79.81 -16.5167 -151.7500
27        Avarua      CK     84.25 -21.2078 -159.7750
37    Batesville      US     85.08  35.7698  -91.6410

In [17]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [24]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
            hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
            print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [25]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Atuona,PF,77.81,-9.8000,-139.0333,Villa Enata
5,Pendleton,US,86.79,45.6721,-118.7886,Americas Best Value Inn Pendleton
6,Albany,US,76.46,42.6001,-73.9662,
16,Ca Mau,VN,78.76,9.1769,105.1500,Mường Thanh Luxury Cà Mau Hotel
19,Norman Wells,CA,81.39,65.2820,-126.8329,Heritage Hotel

In [27]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [30]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))